* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFEFE;
    color: black;
    font-family: theSansItalic,Arial,Helvetica,sans-serif !important;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #1E1C1C;
    overflow: auto;
}

.navbar {
    flex:1 1 200px;
}

.navbar a {
    display: inline-block;
    text-align: center;
    padding-right: 14px;
    padding-left: 50px;
    font-size: 18px;
    text-decoration: none;
    margin-top: 25px;
    color: rgba(255,255,255,0.7);
}

.navbar a:hover {
    color: #fefefe;
    text-decoration: none;
}

/* responsive navbar css */
@media screen and (max-width: 600px) {
    nav .sideMenuButton {
        display: flex;
    }

    nav .navbar {
        display: none;
    }

    .sideNavigationBar {
        display: block !important;
    }
}

.logo-img {
    border: 1px solid white;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

.line .side1 {
    padding-right: 50px;
}

.side1 h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: green;
}

.side1 button {
    width: 200px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

/* Header content responsive */
@media screen and (max-width: 980px) {
    .side2 img {
        width: 350px;
    }

    .side1 h1 {
        font-size: 40px;
    }

    .side1 p {
        font-size: 17px;
    }

    .line {
        margin-top: 80px;
    }
}

@media screen and (max-width: 600px) {
    .side1 h1 {
        font-size: 35px;
    }

    .line {
        flex-direction: column;
    }

    .line .side1 {
        padding: 30px;
    }
}

/* section */

section .topic a {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .boxes .box {
    margin: 10px 20px;
    max-width: calc(100% / 3 - 50px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    transition: box-shadow .6s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
    cursor: default;
}

.about .boxes .box:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.99);
}
/* Contact Page  */

.contact {
    padding: 20px;
}

.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}

.content .title {
    width: 80%;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    font-family: theSansItalic,Arial,Helvetica,sans-serif !important;
    font-size: 33px !important;
    text-align: center !important;
    color: #1e1e1e !important;
    font-weight: normal !important;
}

.title a {
    text-decoration: none;
    box-shadow: 0 2px 2px -2px #743089;
    padding-bottom: 4px;
}

.title a:hover {
    text-decoration: none;
    box-shadow: none;
}

.topic a {
    text-decoration: none;
    box-shadow: 0 2px 2px -2px #743089;
}

.topic a:hover {
    text-decoration: none;
    box-shadow: none;
}

.contactMenu {
    display: flex;
    justify-content: space-evenly;
}

.input2 {
    margin-top: 10px;
}

.label1 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bolder;
}

.contactMenu .input1 input {
    border-radius: 13px;
    padding: 6px;
}

.input2 input {
    border-color: rgb(252, 244, 244);
    width: 400px;
}

.button {
    margin-top: 12px;
    margin-left: 5px;
}

.button button {
    width: 162px;
    height: 35px;
    border-radius: 12px;
    border-color: transparent;
}

.button button:hover {
    background-color: #8cc099;
}

button {
    width: 162px;
    height: 35px;
    border-radius: 12px;
    border-color: transparent;
}

button:hover {
    background-color: #8cc099;
}

.rightside1 {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}

.title1 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.content1 {
    width: 450px;
    margin-top: 2px;
    color: grey;
}

/* Footer */
footer {
    background: var(--primary-color);
    padding: 15px 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .footer span {
    font-size: 17px;
    font-weight: 400;
    color: var(--white-color);
}

footer .footer span a {
    font-weight: 500;
    color: var(--white-color);
}

footer .footer span a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1060px) {
    .contactMenu {
        flex-direction: column;
        align-items: center;
    }

    .rightside1 {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .content1 {
        width: 100%;
        margin-top: 2px;
        color: grey;
    }

    .side2 img {
        width: 95%;
        height: 90%;
    }
}

@media screen and (max-width: 600px) {
    .side2 img {
        width: 100%;
    }

    section .topic a {
        font-size: 20px;
    }

    section .topic p {
        font-size: 5px;
    }

    .about .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .boxes .box {
        max-width: 70%;
    }
}
