* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFEFE;
    color: black;
    font-family: "Fira Sans", sans-serif;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #1E1C1C;
    overflow: auto;
}

.navbar {
    flex:1 1 200px;
}

.navbar a {
    display: inline-block;
    text-align: center;
    padding-right: 14px;
    padding-left: 50px;
    font-size: 18px;
    text-decoration: none;
    margin-top: 25px;
    color: rgba(255,255,255,0.7);
}

.navbar a:hover {
    color: #fefefe;
    text-decoration: none;
}

/* responsive navbar css */
@media screen and (max-width: 600px) {
    nav .sideMenuButton {
        display: flex;
    }

    nav .navbar {
        display: none;
    }

    .sideNavigationBar {
        display: block !important;
    }
}

.logo-img {
    border: 1px solid white;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

.line .side1 {
    padding-right: 50px;
}

.side1 h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: green;
}

.side1 button {
    width: 200px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

/* Header content responsive */
@media screen and (max-width: 980px) {
    .side2 img {
        width: 350px;
    }

    .side1 h1 {
        font-size: 40px;
    }

    .side1 p {
        font-size: 17px;
    }

    .line {
        margin-top: 80px;
    }
}

@media screen and (max-width: 600px) {
    .side1 h1 {
        font-size: 35px;
    }

    .line {
        flex-direction: column;
    }

    .line .side1 {
        padding: 30px;
    }
}

#slideSet {
    height: 30em;
    position: relative;
    background: url("../images/images4.jpg") no-repeat;
    background-size: 100%;
}

#slideSet > * {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#slide-1 {
    visibility: visible;
}

#slide-2 {
    visibility: hidden;
}

#slide-3 {
    visibility: hidden;
}

.dot-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 40px;
}

.dot:hover {
    cursor: pointer;
}

#prev-button {
    position: relative;
    visibility: hidden;
    animation-fill-mode: forwards;
    margin: auto;
    transform: none;
    left: 0;
}

#next-button {
    visibility: hidden;
    position: relative;
    animation-fill-mode: forwards;
    margin-right: 50%;
    margin-top: 1.2%;
    float: right;
    transform: none;
}

#slideSet button {
    height: 80px;
    width: 50px;
    background-color: rgba(0,0,0,.6) !important;
    color: white;
    border: none;
    outline: none;
    font-size: 40px;
    font-weight: lighter;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
        opacity: 1;
    }
}

#slideSet button:hover {
    cursor: pointer;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    font-family: theSansItalic,Arial,Helvetica,sans-serif !important;
    font-size: 33px !important;
    text-align: center !important;
    color: #1e1e1e !important;
    font-weight: normal !important;
}

#employee-image {
    width: 260px;
    height: 250px;
    background: #000;
    border-radius: 50%;
}

.employee-info {
    font-size: 12px;
}
