* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFEFE;
    color: black;
    font-family: "Fira Sans", sans-serif;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #1E1C1C;
    overflow: auto;
}

.navbar {
    flex:1 1 200px;
}

.navbar a {
    display: inline-block;
    text-align: center;
    padding-right: 14px;
    padding-left: 50px;
    font-size: 18px;
    text-decoration: none;
    margin-top: 25px;
    color: rgba(255,255,255,0.7);
}

.navbar a:hover {
    color: #fefefe;
    text-decoration: none;
}

/* responsive navbar css */
@media screen and (max-width: 600px) {
    nav .sideMenuButton {
        display: flex;
    }

    nav .navbar {
        display: none;
    }

    .sideNavigationBar {
        display: block !important;
    }
}

.logo-img {
    border: 1px solid white;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

.line .side1 {
    padding-right: 50px;
}

.side1 h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: green;
}

.side1 button {
    width: 200px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* album cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50);
    transition: box-shadow .6s;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    flex-basis: 30%;
    font-family: arial;
}

.card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.99);
}

.artist-name {
    color: grey;
    font-size: 22px;
}

.card input {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card input:hover {
    opacity: 0.7;
}

/* Header content responsive */
@media screen and (max-width: 980px) {
    .side2 img {
        width: 350px;
    }

    .side1 h1 {
        font-size: 40px;
    }

    .side1 p {
        font-size: 17px;
    }

    .line {
        margin-top: 80px;
    }
}

@media screen and (max-width: 600px) {
    .side1 h1 {
        font-size: 35px;
    }

    .line {
        flex-direction: column;
    }

    .line .side1 {
        padding: 30px;
    }
}
