<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css|"/>
    <link rel="stylesheet" href="../static/css/albums.css" th:href="@{/css/albums.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Albums</title>
</head>

<body>
<nav>
    <img class="logo-img" alt="logo" src="" th:src="@{/images/emblem.png}">
    <div class="navbar">
        <div class="navbar">
            <a data-clickable-name="home_page_navigation" href="/">Home</a>
            <a data-clickable-name="albums_page_navigation" href="/albums">Albums Search</a>
            <a data-clickable-name="artists_page_navigation" href="/artists">Artists Search</a>
            <a data-clickable-name="performance_page_navigation" href="/performance">Performance Metrics</a>
        </div>
    </div>
</nav>
<div class="container">
    <div th:switch="${albumsList.isEmpty()}">
        <div th:case="true">
            <p>Darn it... we don't have an album like that!</p>
        </div>
        <div class="card-container" th:case="false">
            <div class="card" th:each="album : ${albumsList}">
                <img th:if="${album.imageUrl == null}" src="../static/images/album-placeholder.jpeg"
                     th:src="@{/images/album-placeholder.jpeg}"
                     alt="album"
                     style="width: 100%">
                <img th:unless="${album.getImageUrl() == null}"
                     th:src="${album.imageUrl}"
                     alt="album"
                     style="width: 100%">
                <h1 th:text="${album.title}"></h1>
                <p class="artist-name" th:text="${album.artist.name}"></p>
                <form th:action="@{/tracks}" th:object="${tracks}" method="get">
                    <input hidden="hidden" name="albumId" type="number" th:value="${album.albumId}">
                    <input type="submit" value="Tracks" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="pagination-container" th:unless="${albumspages == 0}">
    <div class="pagination" th:each="page, iStat : ${albumspages}">
        <a th:if="${iStat.current} != 0 and ${iStat.index} == 0" th:href="'/albums/' + ${path} + '?' + ${searchterm} + '=' + ${searchValue} + '&page=' + ${page - 1} + '&size=12'">&laquo;</a>
        <a th:id="'link-' + ${page}" th:if="${iStat.count} < 11" th:href="'/albums/' + ${path} + '?' + ${searchterm} + '=' + ${searchValue} + '&page=' + ${page} + '&size=12'"
           th:text="${page + 1}"></a>
        <a th:if="${iStat.count} == 10" th:href="'/albums/' + ${path} + '?' + ${searchterm} + '=' + ${searchValue} + '&page=' + ${page + 1} + '&size=12'">&raquo;</a>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/site-logo-actions.js}"></script>
<script type="text/javascript" th:src="@{/js/pagination-actions.js}"></script>
</body>
</html>
