<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css|"/>
    <link rel="stylesheet" href="../static/css/albums.css" th:href="@{/css/albums.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Albums</title>
</head>

<body>
<nav>
    <div class="heading">Albums</div>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/artists">Artists Search</a></li>
            <li><a href="/performance">Performance Metrics</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Stunes Albums</h2>

    <p>Search for over 300+ Albums<p>
    <h1>Form</h1>
    <form th:action="@{/albums}" th:object="${albums}" method="post">
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>
