<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css|"/>
    <link rel="stylesheet" href="../static/css/albums.css" th:href="@{/css/albums.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Albums</title>
</head>

<body>
<nav>
    <img class="logo-img" alt="logo" src="" th:src="@{/images/emblem.png}">
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/albums">Albums Search</a>
        <a href="/artists">Artists Search</a>
        <a href="/performance">Performance Metrics</a>
    </div>
</nav>
<div class="container">
    <div class="wrap">
        <form th:action="@{/albums/published}" th:object="${albums}" method="get">
            <input class="searchTerm"
                   placeholder="What album are you looking for?"
                   type="text" th:field="*{title}"/>
            <button type="submit"
                    class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>
<div class="most-popular-slide-show">
    <button id="prev-button" th:text="'<'"></button>
    <!--        <div class="box" style="margin-left: 75px;">-->
    <!--            <img src="../static/images/album-placeholder.jpeg" alt="track" th:src="@{/images/album-placeholder.jpeg}">-->
    <!--            <h1>Some Text Here</h1>-->
    <!--            <p>Some more random text here in the box</p>-->
    <!--            <a href="#">Learn More ></a>-->
    <!--        </div>-->
    <!--        <div class="box">-->
    <!--            <img src="../static/images/album-placeholder.jpeg" alt="track" th:src="@{/images/album-placeholder.jpeg}">-->
    <!--            <h1>Some Text Here</h1>-->
    <!--            <p>Some more random text here in the box</p>-->
    <!--            <a href="#">Learn More ></a>-->
    <!--        </div>-->
    <!--        <div class="box">-->
    <!--            <img src="../static/images/album-placeholder.jpeg" alt="track" th:src="@{/images/album-placeholder.jpeg}">-->
    <!--            <h1>Some Text Here</h1>-->
    <!--            <p>Some more random text here in the box</p>-->
    <!--            <a href="#">Learn More ></a>-->
    <!--        </div>-->
    <button id="next-button" th:text="'>'"></button>
</div>
<script type="text/javascript" th:src="@{/js/most-popular-tracks.js}"></script>
<script th:src="'https:' + '//kit.fontawesome.com/d10979be3a.js'" crossorigin="anonymous"></script>
</body>
</html>
