<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css|"/>
    <link rel="stylesheet" href="../static/css/artists.css" th:href="@{/css/artists.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Artists</title>
</head>

<body>
<nav>
    <img class="logo-img" alt="logo" src="" th:src="@{/images/emblem.png}">
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/albums">Albums Search</a>
        <a href="/artists">Artists Search</a>
        <a href="/performance">Performance Metrics</a>
    </div>
</nav>
<div class="container">
    <div th:if="${artistsList.isEmpty()}">
        <p class="text-center">Darn it... we don't have artist with a name like that!</p>
    </div>
    <div class="artist-card-container">
        <div class="artist-card" th:unless="${artistsList.isEmpty()}" th:each="artist : ${artistsList}">
            <img src="../static/images/artist-placeholder.jpeg"
                 th:src="@{/images/artist-placeholder.jpeg}"
                 alt="artist"
                 style="width: 100%">
            <h1 th:text="Artist"></h1>
            <p class="artist-name" th:text="${artist.name}"></p>
            <form th:action="@{/albums/artist}" th:object="${artists}" method="get">
                <input hidden="hidden" name="artistId" type="number" th:value="${artist.artistId}">
                <input class="form-button" type="submit" value="CONTACT ME"/>
            </form>
        </div>
    </div>
</div>
<div class="pagination-container" th:unless="${artistspages == 0}">
    <div class="pagination-container" th:unless="${artistspages == 0}">
        <div class="pagination" th:each="page, iStat : ${artistspages}">
            <a th:if="${iStat.current} != 0 and ${iStat.index} == 0" th:href="'/artists/' + ${path} + '?' + ${searchterm} + '=' + ${searchValue} + '&page=' + ${page - 1} + '&size=12'">&laquo;</a>
            <a th:id="'link-' + ${page}" th:if="${iStat.count} < 11" th:href="'/artists/' + ${path} + '?' + ${searchterm} + '=' + ${searchValue} + '&page=' + ${page} + '&size=12'"
               th:text="${page + 1}"></a>
            <a th:if="${iStat.count} == 10" th:href="'/artists/' + ${path} + '?' + ${searchterm} + '=' + ${searchValue} + '&page=' + ${page + 1} + '&size=12'">&raquo;</a>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/pagination-actions.js}"></script>
</body>
</html>
