<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../static/css/artists.css" th:href="@{/css/artists.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Artists</title>
</head>

<body>
<nav>
    <div class="heading">Artists</div>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/albums">Albums Search</a></li>
            <li><a href="/performance">Performance Metrics</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Search Artists</h2>

    <p>Search for over 200+ Artists<p>
    <h1>Form</h1>
    <form th:action="@{/artists}" th:object="${artists}" method="post">
        <p>Artist Name: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>
