<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../static/css/artists.css" th:href="@{/css/artists.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Artists</title>
</head>

<body>
<nav>
    <div class="heading">Artists</div>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/albums">Albums Search</a></li>
            <li><a href="/performance">Performance Metrics</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="wrap">
        <form th:action="@{/artists}" th:object="${artists}" method="post">
            <input class="searchTerm"
                   placeholder="What artist are you looking for?"
                   type="text" th:field="*{name}"/>
            <button type="submit"
                    class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>
<script th:src="'https:' + '//kit.fontawesome.com/d10979be3a.js'" crossorigin="anonymous"></script>
</body>
</html>
