<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../static/css/artists.css" th:href="@{/css/artists.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Artists</title>
</head>

<body>
<nav>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/albums">Albums Search</a></li>
            <li><a href="/artists">Artists Search</a></li>
            <li><a href="/performance">Performance Metrics</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div th:if="${artistsList.isEmpty()}">
        <p class="text-center">Darn it... we don't have artist with a name like that!</p>
    </div>
    <div class="artist-card-container">
        <div class="artist-card" th:unless="${artistsList.isEmpty()}" th:each="artist : ${artistsList}">
            <img src="../static/images/artist-placeholder.jpeg"
                 th:src="@{/images/artist-placeholder.jpeg}"
                 alt="artist"
                 style="width: 100%">
            <h1 th:text="Artist"></h1>
            <p class="artist-name" th:text="${artist.name}"></p>
            <form th:action="@{/albums/artist}" th:object="${artists}" method="get">
                <input hidden="hidden" name="artistId" type="number" th:value="${artist.artistId}">
                <input class="form-button" type="submit" value="CONTACT ME"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
