<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css|"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>STunes</title>
</head>

<body>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/albums">Albums Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/artists">Artists Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/performance">Performance Metrics</a>
    </li>
</ul>
<div class="container">
    <h1>Welcome to STunes</h1>
    <h3>The STunes application uses multiple AWS Services and the Java V2 API. Inspired by Robert Shield's SQL Quickstart Guide.</h3>
    <h2>Technologies:</h2>
    <ul>
        <li><span><a target="_blank" href="https://www.java.com/en/">Java</a></span></li>
        <li><span><a target="_blank" href="https://www.mysql.com/">MySQL</a></span></li>
        <li><span><a target="_blank" href="https://www.thymeleaf.org/">Thymeleaf</a></span></li>
        <li><span><a target="_blank" href="https://spring.io/">Springboot</a></span></li>
        <li><span><a target="_blank" href="https://aws.amazon.com/rds/aurora/">Amazon Aurora</a></span></li>
        <li><span><a target="_blank" href="https://aws.amazon.com/secrets-manager/">AWS Secrets Manager</a></span></li>
    </ul>
</div>
</body>
</html>
