<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../static/css/performance.css" th:href="@{/css/performance.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Performance Metrics</title>
</head>

<body>
<nav>
    <div class="heading">Artists</div>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/albums">Albums Search</a></li>
            <li><a href="/artists">Artists Search</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Performance Metrics</h2>

    <p>View Top Performing Employees, Top paying customers and more!<p>
    <h1>Selections:</h1>
    <p>Top Paying Customers</p>
    <form th:action="@{/performance/topfivecustomers}" method="post">
        <button type="submit">Top 5</button>
    </form>
    <p>Top Performing Employees</p>
    <form th:action="@{/performance/topfiveemployees}" method="post">
        <button type="submit">Top 5</button>
    </form>
</div>
</body>
</html>
