<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/performance.css" th:href="@{/css/performance.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Top 5 Customers</title>
</head>

<body>
<nav>
    <img class="logo-img" alt="logo" src="" th:src="@{/images/emblem.png}">
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/albums">Albums Search</a>
        <a href="/artists">Artists Search</a>
        <a href="/performance">Performance Metrics</a>
    </div>
</nav>
<div class="container">
    <th:block th:if="${topfivecustomers != null}">
        <h2>Top 5 Customers</h2>

        <p>Review Top 5 Customers<p>
        <h1>Result</h1>
        <table th:switch="${topfivecustomers.isEmpty()}">
            <tr th:case="true">
                <td class="text-center" colspan="3">Darn it... customers is lacking!</td>
            </tr>
            <tr th:case="false">
                <th>customerId</th>
                <th>first name</th>
                <th>lastname</th>
                <th>company</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>postal code</th>
                <th>phone</th>
                <th>fax</th>
                <th>email</th>
                <th>support rep id</th>
            </tr>
            <tr th:each="customer : ${topfivecustomers}">
                <td class="align-middle" th:text="${customer.customerId}"></td>
                <td class="align-middle" th:text="${customer.firstName}"></td>
                <td class="align-middle" th:text="${customer.lastName}"></td>
                <td class="align-middle" th:text="${customer.company}"></td>
                <td class="align-middle" th:text="${customer.address}"></td>
                <td class="align-middle" th:text="${customer.city}"></td>
                <td class="align-middle" th:text="${customer.state}"></td>
                <td class="align-middle" th:text="${customer.country}"></td>
                <td class="align-middle" th:text="${customer.postalCode}"></td>
                <td class="align-middle" th:text="${customer.phone}"></td>
                <td class="align-middle" th:text="${customer.fax}"></td>
                <td class="align-middle" th:text="${customer.email}"></td>
                <td class="align-middle" th:text="${customer.employeeSupportRep.employeeId}"></td>

            </tr>
        </table>
    </th:block>
    <div th:if="${topfiveemployees != null}">
        <div th:switch="${topfiveemployees.isEmpty()}">
            <div th:case="true">
                <p>Darn it... employees is lacking!</p>
            </div>
            <div class="employee-container">
                <div id="slideSet">
                    <button id="prev-button" th:text="'<'"></button>
                    <div class="paused" th:id="'slide-' + ${i.count}" th:each="employee, i : ${topfiveemployees}">
                        <h1 th:text="${employee.firstName} + ' ' + ${employee.lastName}"></h1>
                        <h2 th:text="${employee.title}"></h2>
                        <h2 th:text="'Reports to ' + ${employee.reportsTo}"></h2>
                        <h2 th:text="${employee.email}"></h2>
                        <p th:text="${topfiveinvoices[i.index].total}"></p>
                        <img alt="employee-image" src="" th:src="${employee.image}">
                    </div>
                    <button id="next-button" th:text="'>'"></button>
                </div>
                <div class="dot-container">
                    <div id="dot-1" class="dot"></div>
                    <div id="dot-2" class="dot"></div>
                    <div id="dot-3" class="dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/employee-slide-component.js}"></script>
</body>
</html>
