<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css|"/>
    <link rel="stylesheet" href="../static/css/albums.css" th:href="@{/css/albums.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Tracks</title>
</head>

<body>
<nav>
    <img class="logo-img" alt="logo" src="" th:src="@{/images/emblem.png}">
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/albums">Albums Search</a>
        <a href="/artists">Artists Search</a>
        <a href="/performance">Performance Metrics</a>
    </div>
</nav>
<div class="container">
    <h2>Tracks</h2>
    <div th:switch="${tracks.isEmpty()}">
        <div th:case="true">
            <p>Darn it... no tracks on stock for this album</p>
        </div>
        <div class="card-container" th:case="false">
            <div class="card" th:each="track : ${tracks}">
                <img th:if="${track.album.imageUrl == null}" src="../static/images/album-placeholder.jpeg"
                     th:src="@{/images/album-placeholder.jpeg}"
                     alt="album"
                     style="width: 100%">
                <img th:unless="${track.album.imageUrl == null}"
                     th:src="${track.album.imageUrl}"
                     alt="track"
                     style="width: 100%">
                <h1 th:text="${track.name}"></h1>
                <p th:text="${track.composer} + ' - ' + ${track.genre.name}"></p>
                <p class="artist-name" th:text="'$' + ${track.unitPrice}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
